
@import "tailwindcss";





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: #040404;
}
html,
body, #root {
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
}

#root{
  display: flex;
  flex-direction: column;
}

body{
  background-color: #111;
}

.navbar{
  margin-top: 1px;
}

/* aid card----------------------------------------------------------------------------------------------------- */
.hero {
  background: #a855f7;
  border-radius: 20px;
  margin: 30px;
  padding: 60px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
}

.hero-text {
  
  flex: 1;
  min-width: 280px;
}

.hero-text h1 {
  font-size: 2.3rem;
  color: #000000;
  margin-bottom: 20px;
  line-height: 1.3;
}

.hero-text p {
  font-size: 1.1rem;
  color: #4b3355;
  margin-bottom: 25px;
  max-width: 500px;
  margin-right: 20px;
}

.hero-btn {
  background-color: #2563eb;
  color: #fff;
  border: none;
  padding: 14px 30px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.hero-btn:hover {
  background-color: #062883;
  transform: translateY(-10px);
}

.hero-image {
  flex: 1;
  text-align: center;
  min-width: 580px;
  text-align: right;
}

.hero-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
}



/* this is for kitkar, darkchocolate, dailymilk ___for item container-----------------------------------------------*/
.parent1{
  padding: 20px;
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 20px;
}


.item{
  width: 500px;
  border: 2px solid white;
  text-align: center;
  padding: 20px;
  flex-wrap: wrap;
  border-radius: 30px;
  background-color: #333;
  margin-top: 20px;
  flex-wrap: wrap;

}
.item button{
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}
.item img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

/* for job board___________----------------------------------------------------------------------------------------- */

.parent{
  min-height: 100vh;
  width: 100%;
  background-color: #a855f7;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
  
}

.job{
  height: 10;
  width: 300px;
  background-color: #f3f3f3;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.job .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}
.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 15px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  transition: all 0.3s ease;
  color: #aeadad;
}

.center h3{
  font-size: 30px;
  font-weight: 500;
}
.center h3 span{
  font-size: 10px;
  font-weight: 400;
  color: #8b8b8b;
}
.center h2{
  font-size: 21px;
  font-weight: 500;

}
.center .tag{
  display: flex;
  margin-top: 10px;
  gap: 5px;
}
.center .tag h4{
  font-size: 12px;
  background-color: #e4e4e4;
  color: #202020;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 3px;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #a29d9d;
  padding-top: 15px;
}
.bottom button{
  background-color: rgb(69, 69, 69);
  color: white;
  padding: none;
  border-radius: 5px;
  column-width: 900;
  cursor: pointer;
  transition: all 0.8s ease;
}
.bottom h3{
  font-size: 30px;

}
.bottom p{
  font-size: 20px;
  color: #8b8b8b;
}

.Leftcontent h3{
  font-size: 20px;
}



/* ------------------------------------------------------- some animated design from 3rd content  */

#right::-webkit-scrollbar{
  display: none;
}
#yes::-webkit-scrollbar{
  display: none;
}
#me {
  overflow-y: scroll;         /* enables scrolling */
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* Internet Explorer and Edge */
}

#me::-webkit-scrollbar {
  display: none;              /* Chrome, Safari, Opera */
}

